body {
    margin: 0;
}

#main {
    height: 100dvh;
    background-image: url('Lighthouse.png');
    background-position: center;
    background-size: cover;   
}

h1 {
    all: unset;
    color: white;
    text-align: center;
}